.header {
    display: flex;
    font-size: 18px;
    padding: 92px 50px 0px 50px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 387px;
}

.navigation-list {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    list-style: circle;
    font-weight: 400;
}

.navigation-list li:first-child {
    list-style: none;
}

.navigation-list-1 {
    text-decoration: none;
}

.logo {
    display: flex;
    width: 129px;
    height: 104px;
    margin-right: 197px;
    margin-left: 42px;   
}

.contacts {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 240px;
    margin-left: auto;
}

.cover {
    height: 757px;
    margin-top: 96px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
}

.cover-container { 
    padding: 165px 50px 0 50px;
}

.overlay {
    height: 100%;
    background-color: rgb(0 0 0 / .6);
    position: relative;
    z-index: 1;
}

.cover__title {
    color:white;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.aligned-text {
    line-height: 115%;
}

.aligned-text_center {
    line-height: 100%;
   align-self: center;
   position: relative;
   transform: translateX(-15px);
}


.aligned-text_right {
    line-height: 100%;
    align-self: flex-end;
    
}


.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 135px;
}

.cover__description-text {
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    word-spacing: 0.85em;
    margin-right: 77px;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    width: 256px;
    height: 51px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-size: cover;
}
