.header {
    display: flex;
    font-size: 18px;
    padding: 92px 50px 0px 50px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 387px;
    

}

.navigation-list {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    list-style: circle;
    font-weight: 400;
    
}

.navigation-list li:first-child {
    list-style: none;
}

.navigation-list-1{
    text-decoration: none;
}

.logo {
    display: flex;
    width: 129px;
    height: 104px;
    margin-right: 197px;
    margin-left: 42px;
   
}
.contacts{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 240px;
    margin-left: auto;
    
}