.header {
    display: flex;
    font-size: 18px;
    margin-top: 92px;
    padding: 0px 50px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 387px;
}

.navigation-list {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    list-style: circle;
    font-weight: 400;
}

.navigation-list li:first-child {
    list-style: none;
}

.navigation-list-active {
    text-decoration: none;
}

.logo {
    display: flex;
    width: 129px;
    height: 104px;
    margin-right: 197px;
    margin-left: 42px;   
}

.contacts {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 240px;
    margin-left: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
}

.cover {
    height: 757px;
    margin-top: 96px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
}

.cover-container { 
    padding: 165px 50px 0 50px;
}

.overlay {
    height: 100%;
    background-color: rgb(0 0 0 / .6);
    position: relative;
    z-index: 1;
}

.cover__title {
    color:white;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.aligned-text {
    line-height: 115%;
}

.aligned-text_center {
    line-height: 100%;
   align-self: center;
   position: relative;
   transform: translateX(-15px);
}


.aligned-text_right {
    line-height: 100%;
    align-self: flex-end;
}


.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 135px;
}

.cover__description-text {
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    word-spacing: 0.85em;
    margin-right: 77px;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    font-family: inherit;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    width: 256px;
    height: 51px;
}

.lots {
    margin-top: 179px;
    padding: 0 24px;
}

.lots__heading {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-grow: 1;
    column-gap: 25px;
    list-style: none;
    padding: 27px 0px 0px 0px;
}

.card-link {
    text-decoration: none;
    display: block;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: 563px;
    padding: 48px 40px;
    color: #fff;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-size: cover;
}

.lots__look-more-link {
    padding: 30px 0px 0px 40px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}

.about {
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-template-rows: 148px 1fr;
    margin-top: 146px;
    padding: 13px 71px 0 24px;
}

.about__logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.about__text {
    grid-column-start: 2;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.footer {
    margin: 298px 0px 91px 0px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contacts-left {
    margin-left: 0px;
   
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 240px;
    
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}